[Unit]
Description=Copenhagen Hnefatafl AI

[Service]
Type=simple
Restart=always
ExecStart=/usr/games/hnefatafl-rs-ai --username ${USERNAME} --password ${PASSWORD} --role defender --systemd
EnvironmentFile=/etc/hnefatafl-ai-basic-defender.conf

[Install]
WantedBy=multi-user.target
